
.idea/ForEx.iml
.idea/inspectionProfiles/profiles_settings.xml
.idea/inspectionProfiles/Project_Default.xml
.idea/misc.xml
.idea/modules.xml
.idea/vcs.xml
.idea/workspace.xml
*.pyc
*.png
docs/.idea/vcs.xml
docs/.idea/modules.xml
docs/.idea/docs.iml
docs/.idea/misc.xml
docs/.idea/workspace.xml
docs/.idea/inspectionProfiles/Project_Default.xml
.idea/dataSources/a670fb93-cddf-4d93-bc8c-574caff95975.xml
.idea/dataSources.xml
.idea/dataSources.local.xml
.idea/dataSources/7f986f35-ebb7-4116-be5d-5cad6db4d668.xml
