
.idea/ForEx.iml
.idea/inspectionProfiles/profiles_settings.xml
.idea/inspectionProfiles/Project_Default.xml
.idea/misc.xml
.idea/modules.xml
.idea/vcs.xml
.idea/workspace.xml
*.pyc
*.png
docs/.idea/vcs.xml
docs/.idea/modules.xml
docs/.idea/docs.iml
docs/.idea/misc.xml
docs/.idea/workspace.xml
docs/.idea/inspectionProfiles/Project_Default.xml
.idea/dataSources/a670fb93-cddf-4d93-bc8c-574caff95975.xml
.idea/dataSources.xml
.idea/dataSources.local.xml
.idea/dataSources/7f986f35-ebb7-4116-be5d-5cad6db4d668.xml
src/database/country_control.txt
src/database/country_control.txt
*.txt
src/web/.idea/jsLibraryMappings.xml
src/web/.idea/misc.xml
src/web/.idea/modules.xml
src/web/.idea/vcs.xml
src/web/.idea/web.iml
src/web/.idea/workspace.xml
src/web/.idea/workspace.xml
src/EXE/ForEx0.0.2/_asyncio.pyd
src/EXE/ForEx0.0.2/_bz2.pyd
src/EXE/ForEx0.0.2/_ctypes.pyd
src/EXE/ForEx0.0.2/_decimal.pyd
src/EXE/ForEx0.0.2/_elementtree.pyd
src/EXE/ForEx0.0.2/_hashlib.pyd
src/EXE/ForEx0.0.2/_lzma.pyd
src/EXE/ForEx0.0.2/_multiprocessing.pyd
src/EXE/ForEx0.0.2/_overlapped.pyd
src/EXE/ForEx0.0.2/_queue.pyd
src/EXE/ForEx0.0.2/_socket.pyd
src/EXE/ForEx0.0.2/_sqlite3.pyd
*.pyd
*.dll
*.pyo
*.afm
*.ttf
*.gif
*.pdf
*.svg
*.ppm
*.npy
*.mplstyle
*.qm
*.csv
src/EXE/ForEx0.0.2/ForEx.exe
src/EXE/ForEx0.0.2/ForEx.exe.manifest
src/EXE/ForEx0.0.2/base_library.zip
src/EXE/ForEx0.0.2/database/currencies.db
src/EXE/ForEx0.0.2/database/data.db
src/EXE/ForEx0.0.2/database/source.db
src/EXE/ForEx0.0.2/icon/favicon.ico
src/EXE/ForEx0.0.2/Include/pyconfig.h
src/EXE/ForEx0.0.2/lib2to3/Grammar3.8.4.final.0.pickle
src/EXE/ForEx0.0.2/lib2to3/PatternGrammar3.8.4.final.0.pickle
src/EXE/ForEx0.0.2/mpl-data/fonts/ttf/LICENSE_DEJAVU
src/EXE/ForEx0.0.2/mpl-data/sample_data/aapl.npz
src/EXE/ForEx0.0.2/mpl-data/sample_data/ct.raw.gz
src/EXE/ForEx0.0.2/mpl-data/sample_data/embedding_in_wx3.xrc
src/EXE/ForEx0.0.2/mpl-data/sample_data/grace_hopper.jpg
src/EXE/ForEx0.0.2/mpl-data/sample_data/eeg.dat
src/EXE/ForEx0.0.2/mpl-data/sample_data/membrane.dat
src/EXE/ForEx0.0.2/mpl-data/sample_data/s1045.ima.gz
src/EXE/ForEx0.0.2/mpl-data/sample_data/jacksboro_fault_dem.npz
src/EXE/ForEx0.0.2/updateData.exe
src/EXE/ForEx0.0.2/mpl-data/sample_data/topobathy.npz
src/EXE/ForEx0.0.2/mpl-data/sample_data/goog.npz
src/EXE/ForEx0.0.2/mpl-data/matplotlibrc
src/EXE/ForEx0.0.2/mpl-data/fonts/ttf/LICENSE_STIX
src/EXE/ForEx0.0.2/lib2to3/tests/data/README
