* {
    font-family: "Courier New", serif;
}

img {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

#jumbo {
    padding: 20px;
    margin: 0;
}

.active {
    background: #e9ecef;
}

@media screen and (max-width: 768px) {
     .container {
         width: 100vw;
         margin: 0;
         padding: 0;
     }

    #accordion {
        width: 100vw;
        margin: 0;
    }
}